* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --background: linear-gradient(135deg, #d0eaff, #e6f7ff);
  --color: #333;
}

button {
  cursor: pointer;
}
